main img {
    width: 30rem;
    height: auto;
}

main #introducao {
    display: flex;
    gap: 3rem;
    margin: 2rem 0rem 2rem 0rem;
}

main #introducao h1 {
    font-size: 4.5rem;
    margin: 3rem 3rem 3rem 0rem;
}

main .quadrado-1 {
    position: absolute;

    .quadrado-vermelho {
        position: relative;
        width: 3rem;
        height: 3rem;
        background-color: rgb(255, 59, 59);
        top: 3rem;
        right: 1rem;
        z-index: -1;
    }
}

main #introducao p {
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
}